form {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #EEEEFF;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.optionsContainer {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}